#web_bg{

  background: url(https://images.unsplash.com/photo-1594389027127-f1c969d0eb0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}